<!--
	Name: Milou Bisseling
	Student number: 10427538
//-->

h1 {
	font-family: Arial;
	color: black; 
}
		
h2 {
	font-family: Arial;
	color: black; 
}

p {
	text-align: left; 
	font-family: Arial;
}

canvas {
	text-align: left;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	display: block;
	width: 800px;
	height: 600px;
	border: 1px solid blue;
}
		
a {
	color: black; 
	font-family: Arial;
}
		