/*
	Name: Milou Bisseling
	Student number: 10427538
*/

title {
	font-family: Arial; 
	text-align: center; 
}

h1 {
	font-family: Arial;
	text-align: center; 
}
		
h2 {
	font-family: Arial;
	text-align: center; 
}

h3 {
	font-family: Arial;
	text-align: center; 
}

h4 {
	font-family: Arial;
	text-align: left; 
}

p { 
	font-family: Arial;
	text-align: center; 
	font-size: 80%;
}

a {
	font-family: Arial;
	text-align: center;
	font-size: 80%;  
}

div.container {
	width: 550px;
    display: block;
    margin: auto;
    text-align: left;
}

p.block { 
	font-family: Arial;
	text-align: left; 
	font-size: 80%;
}

svg {
	align-content: center;
	margin: auto;
}

.bar {
    fill: gold
}

.bar:hover {
    fill: goldenrod;
}

.axis {
	  font-family: Arial;
	  font-size: 11px;
}

.axis path,
.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
}

.d3-tip {
  font-size: 60%;
  font-family: arial;
}

